html{
    height: 100%;
}

body {
height: 100%;
margin: 0;
backgroud-repeat: no-repeat;
background-attachment: fixed;

background: #b1baae; /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover,  #b1baae 0%, #b2c4b0 0%, #62726a 100%, #b5ddcb 100%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#b1baae), color-stop(0%,#b2c4b0), color-stop(100%,#62726a), color-stop(100%,#b5ddcb)); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover,  #b1baae 0%,#b2c4b0 0%,#62726a 100%,#b5ddcb 100%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse cover,  #b1baae 0%,#b2c4b0 0%,#62726a 100%,#b5ddcb 100%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover,  #b1baae 0%,#b2c4b0 0%,#62726a 100%,#b5ddcb 100%); /* IE10+ */
background: radial-gradient(ellipse at center,  #b1baae 0%,#b2c4b0 0%,#62726a 100%,#b5ddcb 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b1baae', endColorstr='#b5ddcb',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

header {
    background: #222;
    margin-bottom: 20px;
}

.container {
    max-width: 1000px;
    margin: 0 auto;

}

.navbar-inverse {
    border:none;
}

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
    background: #000;
}

a.forgot-password {
    float: left;
    padding: 10px 5px;
}

a.register-new {
    float: right;
    padding: 10px 5px;
}

.login-form-container {
    position: relative;
    overflow: hidden;
    padding: 30px 10px 10px 20px;
    margin-top: 20%;
    border: 1px solid #888;
    background: #f9f9f9;
}

.login-form-container .col-md-8 {
    border-right: 1px solid #333;
}

.register-form {
    margin-top: 20%;
}

.timeline ul {
    list-style: none;
}

.timeline ul li {
    position: relative;
    overflow: hidden;
    padding: 10px 0;
   /* border-bottom: 1px solid #666;*/
}

.timeline .twit-gravitar {
    float: left;
    width: 60px;
}

.timeline .twit {
   float: left;
   width: 320px;
   margin-left: 10px;   
}

.timeline .twit-handle {
    width: 100%;
    float: left;
}

.timeline .twit-text {

}

.timeline hr.twit-separator {
    margin-top: 5px;
    margin-bottom: 5px;
    border-top: 1px solid #666;
}

.users-list li {
    list-style: none;
    padding: 5px;
}

.users-list img {
    margin-right: 10px;
}





